rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /produtos/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /clientes/{document} {
      allow read, write: if true;
    }
    match /pedidos/{document} {
      allow read, write: if true;
    }
  }
}
